* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header {
    width: 100%;
    height: 100vh;
    background: url("../img/header_background.jpg") no-repeat;
    color: white;
    font-size: 20px;
}

.header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    z-index: 2;
}

.header .container_header {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.header .container_header .facebook path{
    fill: #fff;
}